# .gitignore

# Archivos de configuración sensibles que NO deben ir al repositorio

API_KEY

# Directorios de compilación y caché de Python
# Git debe ignorar archivos .pyc y la carpeta __pycache__
__pycache__/
*.pyc

.ipynb_checkpoints